* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #df9a5f;
  margin: 0 auto;
  padding: 20px;
  font-family: S Helvetica, sans-serif;
  max-width: 1200px;
}

@keyframes width {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes animation1 {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes animation2 {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes animation3 {
  0% {
    transform: translateX(20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

header {
  background-color: #b06a3d;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
  overflow: hidden;
  animation: width 0.5s ease-in-out;
}
nav {
  font-size: 20px;
  font-weight: 700;
  opacity: 0;
  animation: animation1 0.5s ease-in-out forwards;
  animation-delay: 0.5s;
}

nav ul {
  display: flex;
  gap: 57px;
  list-style: none;
}
a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #3c1a00;
}

a:link {
  text-decoration: none;
}

main {
  padding: 20px 0;
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
}

.intro {
  margin-bottom: 10px;
}

h3 {
  font-family: Arial;
  font-weight: 700;
  font-size: 18px;
  color: #0a0a0a;
  margin-bottom: 10px;
  animation: animation2 0.5s ease-in-out forwards;
  animation-delay: 1s;
  opacity: 0;
}
p {
  color: #080808;
  font-family: Arial;
  animation: animation3 0.5s ease-in-out forwards;
  animation-delay: 1.5s;
  opacity: 0;
}

.gallery-container {
  grid-column: 1/3;
}

.gallery {
  height: 200px;
  display: flex;
  flex-wrap: wrap; /* make responsive, images flow down */
  flex-direction: row;
  gap: 10px;
}

img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  max-width: 200px;
}

@media screen and (max-width: 700px) {
  .intro,
  .info {
    grid-column: 1/3;
  }
}
