* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  padding: 30px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tosearch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 59px;
}

.leftsearch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 28px;
}

.rightsearch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 45px;
}

.menu {
}

.ytlogo {
}

input {
  width: 700px;
  height: 34px;
}

.search .button {
  height: 10px;
  width: 10px;
}

.threeicons {
  display: flex;
  gap: 50px;
}

img {
}

.profile {
  height: 40px;
  width: 40px;
  border-radius: 100%;
}

.main {
  display: flex;
  justify-content: center;
  width: 100%;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 200px;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-bottom: 58px;
}

.category {
  display: flex;
  align-items: center;
  gap: 13px;
}

.category p {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: black;
}

/* category&active is one class so  */
.category.active p {
  color: red;
}

.subscriptions {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.subscription {
  display: flex;
  align-items: center;
  gap: 13px;
}

.subscriptions .title {
  color: black;
  font-family: "Inter";
  font-weight: bold;
  font-size: 18px;
}

.setting {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-top: 104px;
  padding-left: 30px;
}

.videosection {
  display: flex;
  flex-direction: column;
  gap: 49px;
}

.uploadtitle {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.uploadtitle p {
  font-family: Impact;
  font-size: 20px;
  font-weight: 700px;
}

.content {
  flex: 1;
}

.videos img {
  width: 150px;
  height: 100px;
}
